<div class="posts-stage__container">
  <h5>Source component: apps/ng/src/app/stages/post-comment-author</h5>
  <h2>
    Load and display posts from
    <a [href]="postsSrc">{{ postsSrc }}</a>
    with comments from
    <a [href]="commentsSrc">{{ commentsSrc }}?postId=</a>
    <ul>
      <li>loaded all together</li>
      <li>loaded one by one</li>
    </ul>
  </h2>
  <rxjs-tutorial-next-stage-button
    [stage]="5"
  ></rxjs-tutorial-next-stage-button>
  <mat-progress-bar mode="determinate" [value]="progress | async"></mat-progress-bar>
  <rxjs-tutorial-posts [posts]="posts" (commentsOpent)="onCommentsOpen($event)">
  </rxjs-tutorial-posts>
</div>
